/* news styles */

#news1{
    margin: 5% 37% 0 0;
    text-align: center;
}

#news2{
    margin-left: 6%;
    font-size: 1.32em;
    font-family: sans-serif;
}

#news2 li{
    margin-bottom: 2%;
    list-style-type: square;
    list-style-image: url('../images/musicNote16.png');
}